<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css stylesheets/app.css -->
      <!-- inject:css -->
      <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <div ui-view></div>

    <!-- build:js(source) javascripts/vendor.js -->
      <!-- inject:vendor -->
      <!-- endinject -->

      <!-- bower:js -->
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js javascripts/app.js -->
      <!-- inject:templates -->
      <!-- endinject -->

      <!-- inject:js -->
      <!-- endinject -->
    <!-- endbuild -->

    <!-- @if NODE_ENV='production' -->
    <!-- @endif -->
  </body>
</html>

